@font-face {
  font-family: 'Champion';
  src: url("~@/assets/fonts/Champion-ExtraBoldClean.eot");
  src: url("~@/assets/fonts/Champion-ExtraBoldClean.eot?#iefix") format("embedded-opentype"), url("~@/assets/fonts/Champion-ExtraBoldClean.woff2") format("woff2"), url("~@/assets/fonts/Champion-ExtraBoldClean.woff") format("woff"), url("~@/assets/fonts/Champion-ExtraBoldClean.ttf") format("truetype"), url("~@/assets/fonts/Champion-ExtraBoldClean.svg#Champion-ExtraBoldClean") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NotoBold';
  src: url("~@/assets/fonts/NotoSans-Bold.eot");
  src: url("~@/assets/fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("~@/assets/fonts/NotoSans-Bold.woff2") format("woff2"), url("~@/assets/fonts/NotoSans-Bold.woff") format("woff"), url("~@/assets/fonts/NotoSans-Bold.ttf") format("truetype"), url("~@/assets/fonts/NotoSans-Bold.svg#NotoSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoRegular';
  src: url("~@/assets/fonts/NotoSans.eot");
  src: url("~@/assets/fonts/NotoSans.eot?#iefix") format("embedded-opentype"), url("~@/assets/fonts/NotoSans.woff2") format("woff2"), url("~@/assets/fonts/NotoSans.woff") format("woff"), url("~@/assets/fonts/NotoSans.ttf") format("truetype"), url("~@/assets/fonts/NotoSans.svg#NotoSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*# sourceMappingURL=styles.css.map */