<template>
  <Layout>
    <!-- hero image -->
    <Hero />
    <!-- character -->
    <CharacterIntro />
    <!-- legends carousel -->
    <CharacterCarousel />
    <!-- more about game switcher -->
    <FeaturedItems />
    <!-- random description section -->
    <Description />
    <!-- youtube video -->
    <VideoEmbed />
    <!-- faq -->
    <Faq />
    <!-- stores -->
    <Stores />
  </Layout>
</template>

<script>
import Hero from "~/components/Hero.vue";
import CharacterIntro from "~/components/CharacterIntro.vue";
import CharacterCarousel from "~/components/CharacterCarousel.vue";
import FeaturedItems from "~/components/FeaturedItems.vue";
import Description from '~/components/Description.vue';
import VideoEmbed from "~/components/VideoEmbed.vue";
import Faq from "~/components/Faq.vue";
import Stores from "~/components/Stores.vue";

export default {
  metaInfo: {
    title: 'Home'
  },
  components: {
    Hero,
    CharacterIntro,
    CharacterCarousel,
    FeaturedItems,
    Description,
    VideoEmbed,
    Faq,
    Stores
  }
}
</script>

<style lang="scss">

.hero-wrapper {
  // position: relative;
  // width: 100%;
  // height: calc(100vh - 100px);
  // margin-top: 0;
  // background-image: url('~@/assets/img/bg-hero.png');
  // background-repeat: no-repeat;
  // background-position: 50%;
  // background-size: cover;
  .bannerLogo {
    display: block;
    width: 60vw;
    max-width: 320px;
    // try with viewport height
    padding-top: 28vh;
    padding-left: 2%;
    margin: 0 auto;

    // fix for landscaope
    @media screen and (min-width: 540px) and (max-width: 740px) {
      max-width: 200px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 360px;
    }

    @media screen and (min-width: 1400px) {
      max-width: 440px;
    }
  }
  .storeWrapper {
      margin-top: 40px;

      @media screen and (min-width: 768px) {
        margin-top: 80px;
      }
      .store {
        position: relative;
        display: block;
        height: 40px;
        margin: 10px;

        @media screen and (min-width: 360px) {
          margin: 20px;
        }

        @media screen and (min-width: 768px) {
          width: initial;
          height: 50px;
        }

        @media screen and (min-width: 1300px) {
          height: 66px;
        }
      }
    }
}

</style>

