<template>
  <!--  faq item -->
  <div class="faq-item">
    <div @click="show = !show" class="question d-flex justify-content-between">
      <h3>{{ item.q }}</h3>
      <img :class="[show ? 'rotate' : 'stay']" src="~@/assets/img/svg/faq-arrow.svg" alt="faq arrow">
    </div>
    <transition name="accordion-fade-slide" mode="out-in">
      <div class="answer" v-if="show">
        <p>
          {{ item.a }}
        </p>
      </div>
    </transition>
   
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: null
    }
  },
  data(){
    return {
      show: false
    }
  }
}
</script>

<style lang="scss" scoped>
      .faq-item {
      margin-bottom: 40px;
      cursor: pointer;
      .question {
        background: linear-gradient(180deg, #FFECD2 0%, #D5B99D 100%);
        padding: 15px;
        h3 {
          font-family: 'Champion';
          font-style: normal;
          font-weight: 800;
          font-size: 24px;
          line-height: 26px;
          color: #4B4458;
          margin-bottom: 0;
          // cancel selecting
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
          @media screen and (min-width: 768px) {
            font-size: 30px;
            line-height: 36px;
          }
        }
        img {
           -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
          &.rotate {
            transform: rotate(90deg);
            transition: .5s;
          }
          &.stay {
            transform: rotate(0deg);
            transition: .5s;
          }
        }
      }
      .answer {
        background-color:#4B4458;
        width: 100%;
        padding: 40px;
        p {
          color: #FFFFFF;
          font-family: 'NotoRegular';
          font-size: 20px;
          line-height: 27px;
           -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
          @media screen and (min-width: 768px) {
            font-size: 28px;
            line-height: 38px;
          }
        }
      }
    }

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.accordion-fade-slide {
    &-enter-active,
    &-leave-active {
      transition: all 0.3s;
    }
    &-enter {
      heigth: 100%;
    }
    &-leave-to {
      heigth: 0%;
    }
  }
</style>
