<template>
  <div class="character-intro-wrapper">
     
    <div class="character-wrapper d-flex flex-column-reverse flex-md-row">
      <!-- chaaraterr -->
      <div class="item character d-none d-lg-block">
        <img src="~@/assets/img/heroes/flex-hero-1.png" alt="">
      </div>
      <!-- description -->
      <div class="item description">
        <div class="title">
        <img src="~@/assets/img/title-character.png" alt="section title">
      </div>     
        <p>
        Assemble the mightiest army the empire has ever seen, and unleash the epic power of beastmasters, knights, and sorcerers on your opponents.
        <br /><br />
        Craft the ultimate strategy and choose your tactics carefully to win in the arena, smash through the leagues, and seize victory. 
        </p>
      </div>
      <!-- character -->
      <div class="item character d-none d-lg-block">
         <img src="~@/assets/img/heroes/flex-hero-2.png" alt="">
      </div>
    </div>
    <!-- wrapper for description items -->
    <div class="description-wrapper">
      <!-- apply felx center classes to center on mobile and desktop -->
      <div class="flex-colapse d-flex flex-column flex-lg-row align-items-center justify-content-center align-items-md-start">
        <div class="run-item d-flex flex-column flex-md-row">
           <div class="item">
            <img src="~@/assets/img/svg/Circle1.svg" alt="unordered lsit item">
            <p>Unleash up to 15 Champions<br /> on your opponents</p>
          </div>
          <div class="item">
            <img src="~@/assets/img/svg/Circle2.svg" alt="unordered lsit item">
            <p>Unlock 8 Legends, 48 Champions,<br/> and a vast array of artifacts</p>
          </div>
          <div class="item">
            <img src="~@/assets/img/svg/Circle3.svg" alt="unordered lsit item">
            <p>Constant progression and<br> rewards</p>
          </div>
          <div class="item">
            <img src="~@/assets/img/svg/Circle4.svg" alt="unordered lsit item">
            <p>Leave and return to<br/> tournaments at any time</p>
          </div>
        </div>
      </div>
     
    </div>
   
  </div>
</template>

<style lang="scss" scoped>

.character-intro-wrapper {
  position: relative;
  background: linear-gradient(180deg, rgba(21, 21, 21, 0.95) 0%, rgba(21, 21, 21, 0.741) 18.23%, rgba(21, 21, 21, 0) 45.28%, rgba(21, 21, 21, 0.646) 58.75%, rgba(21, 21, 21, 0.95) 73.88%), url('~@/assets/img/bg-chessboard.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding: 0 5%;
  @media screen and (min-width: 768px) {
    padding: unset;
  }
  .character-wrapper {
    padding-top: 80px;
    .item.character {
   
    img {
      width: 100%;
     
    }
  }
  .item.description {
    color: #FFFFFF;
    position: relative;
    display: block;
    width: auto;
    margin: 0 auto;
    // padding: 0 5%;
    .title img {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 100%;
      margin-bottom: 40px;
      max-width: 460px;
      
    }
   p {
      font-family: 'NotoRegular';
      font-size: 20px;
      line-height: 27px;
      @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 33px;
        min-width: 460px;
        max-width: 700px;
      }
    }
  }
  }
  .description-wrapper {
    // some padding to get better spacing 
    padding: 70px 0;
    .run-item {
      margin: 0 4%;
      @media screen and (min-width: 768px) {
        margin: unset;
        width: 100%;
        justify-content: space-evenly;

      }
      @media screen and (min-width: 768px) and (max-width: 1100px){
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      .item {
        margin: 30px 0;
        @media screen and (min-width: 768px) and (max-width: 1100px){
          width: 50%;
        }
        img { 
          display: block;
          position: relative;
          margin: auto;
        }
        p {
          text-align: center;
          color: #FFFFFF;
          font-family: 'NotoRegular';
          font-size: 18px;
            line-height: 24px;
          margin-top: 20px;
          // @media screen and (min-width: 768px) {
          //   font-size: 18px;
          //   line-height: 24px;
          // }
        }
      }
    }
    
  }
  
}
</style>
