<template>
  <div class="carousel-wrapper">

    <img class="title" src="~@/assets/img/title-warriors.png" alt="">
    <img class="transition-2" src="~@/assets/img/transition-2.png" alt="">
   
    <div class="character-select">
          <div ref="yearSlider" class="swiper-container">
             <div class="background-shadow"></div>

              <div class="swiper-wrapper">
                <!-- slide 1 -->
                <div class="swiper-slide">
                  <!-- image -->
                  <img class="swiper-image" src="~@/assets/img/heroes/hero-1.png" alt="">
                  <!-- text part -->
                  <div class="char-text flex-column flex-md-row align-items-center justify-content-md-around">
                    <img class="char-name" src="~@/assets/img/heroes/Artus.png" alt="">
                    <p>An Empire Legend who commands his men just as well as he wields his epic axe. </p>
                  </div>
                </div>

                <div class="swiper-slide">
                  <img class="swiper-image" src="~@/assets/img/heroes/hero-2.png" alt="">
                  <!-- text part -->
                  <div class="char-text flex-column flex-md-row align-items-center justify-content-md-around">
                    <img class="char-name" src="~@/assets/img/heroes/Artus.png" alt="">
                    <p>An Empire Legend wh Comment start o commands his men just as well as he wields his epic axe. </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img class="swiper-image" src="~@/assets/img/heroes/hero-3.png" alt="">
                  <!-- text part -->
                  <div class="char-text flex-column flex-md-row align-items-center justify-content-md-around">
                    <img class="char-name" src="~@/assets/img/heroes/Artus.png" alt="">
                    <p>An Empire Legend wh Comment start o commands his men just as well as he wields his epic axe. </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img class="swiper-image" src="~@/assets/img/heroes/hero-4.png" alt="">
                  <!-- text part -->
                  <div class="char-text flex-column flex-md-row align-items-center justify-content-md-around">
                    <img class="char-name" src="~@/assets/img/heroes/Artus.png" alt="">
                    <p>An Empire Legend wh Comment start o commands his men just as well as he wields his epic axe. </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img class="swiper-image" src="~@/assets/img/heroes/hero-5.png" alt="">
                  <!-- text part -->
                  <div class="char-text flex-column flex-md-row align-items-center justify-content-md-around">
                    <img class="char-name" src="~@/assets/img/heroes/Artus.png" alt="">
                    <p>An Empire Legend wh Comment start o commands his men just as well as he wields his epic axe. </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img class="swiper-image" src="~@/assets/img/heroes/hero-6.png" alt="">
                  <!-- text part -->
                  <div class="char-text flex-column flex-md-row align-items-center justify-content-md-around">
                    <img class="char-name" src="~@/assets/img/heroes/Artus.png" alt="">
                    <p>An Empire Legend wh Comment start o commands his men just as well as he wields his epic axe. </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img class="swiper-image" src="~@/assets/img/heroes/hero-7.png" alt="">
                  <!-- text part -->
                  <div class="char-text flex-column flex-md-row align-items-center justify-content-md-around">
                    <img class="char-name" src="~@/assets/img/heroes/Artus.png" alt="">
                    <p>An Empire Legend wh Comment start o commands his men just as well as he wields his epic axe. </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img class="swiper-image" src="~@/assets/img/heroes/hero-8.png" alt="">
                  <!-- text part -->
                  <div class="char-text flex-column flex-md-row align-items-center justify-content-md-around">
                    <img class="char-name" src="~@/assets/img/heroes/Artus.png" alt="">
                    <p>An Empire Legend wh Comment start o commands his men just as well as he wields his epic axe. </p>
                  </div>
                </div>
              </div>
              <!-- pagination -->
              <div class="swiper-pagination"></div>
          </div>
      </div>
       

  </div>
</template>

<script>
import Swiper, { Navigation, Pagination } from 'swiper';
// import Swiper styles
import 'swiper/swiper-bundle.min.css';

export default {
    name: 'CharacterSelect',
    props: {
        default: {
            type: Number,
            default: -1
        }
    },
    directives: {
    },
    data() {
        return {
            slider: null,
        }
    },
    mounted() {
        // swiper slider setup
        Swiper.use([Navigation, Pagination]);
        this.slider = new Swiper(this.$refs.yearSlider, {
            speed: 300,
            effect: "slide",
            slidesPerView: 1,
            centeredSlides: true,
            loop: true,
            slideActiveClass: 'swiper-slide-active',
            navigation: {
                nextEl: '.swiper-slide-next',
                prevEl: '.swiper-slide-prev',
            },
            pagination: {
              el: '.swiper-pagination',
              type: 'bullets',
            },
            breakpoints: {
              //when window width is less than <= 700px
              768: {
                slidesPerView: 3
              }
            }
        })
       
    },
}

</script>

<style lang="scss">

.bg-description {
  position: relative;
  display: block;
  width: 100%;
  z-index:10;
}
.carousel-wrapper {
  padding: 50px 0;
  background-color: rgba(21, 21, 21, 1);
  position: relative;
  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
  
  img.title {
    position: absolute;
    z-index: 9;
    width: 90%;
    max-width: 500px;
    top: 0;
    left:0;
    right: 0;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      left: 10%;
      right: unset;
    }
  }

   .transition-2 {
    position: absolute;
    z-index: 8;
    top:5%;
    left:0;
    right:0;
    width: 100%;
     @media screen and (min-width: 768px) {
      top:6%;
    }
  }
  
}
.character-select {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #6A5F7E;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    
    .background-shadow {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 72%;
      background: radial-gradient(39.58% 125.27% at 50% 75.14%, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0.11) 35.79%, rgba(21, 21, 21, 0.72) 74.86%, rgba(21, 21, 21, 0.94) 100%);
      z-index: 1;
    }

    .swiper-container {
      width: 100%;
      height: 100%;
      background:  url('~@/assets/img/bg-carousel.png');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 150% 72%;
      padding-bottom: 12px;
       @media screen and (min-width: 768px) {
          padding-bottom: 140px;
        }
    }
   
    .swiper-slide {
        position: relative;
        height: 700px;
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) {
          height: 700px;
        }
        
        img.swiper-image {
          position: relative;
          display: block;
          width: 100%;
          max-width: 280px;
          margin: 0 auto;
          transition: all;
          transition-duration: 0.3s;
          -webkit-filter: drop-shadow(-62px 0px 53px black) brightness(0.1);
          filter: drop-shadow(-62px 0px 53px black) brightness(0.1);
          @media screen and (min-width: 768px) {
             max-width: 330px;
          }
        }
        // text is initaly hidden and only displayed for active chars
        .char-text {
          position: absolute;
          display: none;
          bottom: -48px;
          width: 91%;
          left: 0;
          right: 0;
          margin: 0 auto;
           @media screen and (min-width: 768px) {
              width: 270%;
              left: -86%;
              max-width: 1400px;
            }
          img.char-name {
            width: 120px;
            margin-bottom: 20px;
            @media screen and (min-width: 768px) {
              bottom: -74px;
              width: 170px;
            }
          }

          p {
            font-family: 'NotoRegular';
            font-size: 14px;
            line-height: 19px;
            color: #FFECD2;
            max-width: 400px;
            @media screen and (min-width: 768px) {
              max-width: 600px;
              font-size: 24px;
              line-height: 33px;
            }
          }
        }
        &.swiper-slide-active {
           height: 600px;
            @media screen and (min-width: 768px) {
              height: 700px;
            }
           img.swiper-image { 
            transform: scale(1.8);
            -webkit-filter: drop-shadow(0px 0px 0px ) brightness(1);
            filter: drop-shadow(0px 0px 0px ) brightness(1);
            filter: none;
           }
          //  display text
           .char-text {
             display: flex;
           }
        }
    }
    span.swiper-pagination-bullet {
      margin: 0 8px !important;
      width: 20px;
      height: 20px;
      display: inline-block;
      border: 3px solid #D5B99D;
      border-radius: 0;
      background: unset;
      opacity: unset;
      -webkit-transform: rotate(-42deg) skewX(4deg);
      transform: rotate(-42deg) skewX(4deg);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      &.swiper-pagination-bullet-active {
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          z-index:2;
          border: 4px solid #D5B99D;
          width: 8px;
          height: 8px;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          margin: auto;
          border-radius: 100%;
        }
      }
    }
}
</style>