<template>
  <!-- cookie -->
    <div ref="cookie" class="cookie" v-if="this.showCookieNotice">
       <span class="text">
        This website uses cookies to ensure you get the best experience.
        <a role="button" href="https://hyperdotstudios.com/cookies/" target="_blank">
          Learn more.
        </a>
      </span>
      <button type="button" class="compliance" @click="accept">
        Got it!
      </button>
    </div>
</template>

<script>
import Vue from 'vue' 
import VueJsonp from 'vue-jsonp'

// import cookie functions
import {storageAvailable, setCookie, getCookie} from '~/utils/cookies.js'

Vue.use(VueJsonp)

export default {
  data(){
    return {
      userCountry: null,
      userIp: null,
      showCookieNotice: false,
      EUcountries: [
        'AT',
        'BE',
        'BG',
        'CY',
        'CZ',
        'DK',
        'EE',
        'FI',
        'FR',
        'DE',
        'GR',
        'HU',
        'IE',
        'IT',
        'LV',
        'LT',
        'LU',
        'MT',
        'NL',
        'PL',
        'PT',
        'RO',
        'SK',
        'SI',
        'ES',
        'SE',
        'GB',
      ],
    }
  },
  watch: {
    userCountry(newCountry) {
      // first check if it's a EU country
      if(this.EUcountries.includes(newCountry)){
        console.log('EU')
        // check for local storage
        if (storageAvailable("localStorage")) {
          console.log("storage");
          // if no item in storage, show cookie
           if (!localStorage.getItem('cookie-mythic:accepted')) {
            this.showCookieNotice = true
          }
        } else {
          // if local storage not available, check if cookie exists
          console.log('cookie')
          let cookieName = 'cookie-mythic:accepted';
          let detourCookie = getCookie(cookieName);
          // if no cookie 
          if(!detourCookie){
            this.showCookieNotice = true
          }
        }
      }
    },
  },
  // on mounted call geoIp to figure out cookie display
  mounted(){
    this.geoIP()
  },
  methods: {
    writeCookie() {
      // check for local storage
      if (storageAvailable("localStorage")) {
        localStorage.setItem('cookie-mythic:accepted', true)
      } else {
        setCookie('cookie-mythic:accepted', true, 30);
      }
    },
    accept() {
      this.writeCookie()
      this.showCookieNotice = false
    },
    // get geoIp and set it as user Country 
    geoIP() {
      // this.userCountry = 'SI'
      // fetch country code
      this.$jsonp('https://apps.outfit7.com/rest/geoip/v1/countries/jsonp', {
        callbackQuery: 'callback',
        callbackName: 'geoip',
      })
        .then((json) => {
          // Success.
          this.userCountry = json.country
          console.log("Country: " + json.country);
        })
        .catch((err) => {
          // Failed.
          this.$ga.event({
            eventCategory: 'Data',
            eventAction: 'GeoIP',
            eventLabel: 'Timeout',
          })
          console.log(err)
        })
    },
  }
}
</script>


<style lang="scss" scoped>

.cookie {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(105, 106, 123, 0.9);
  -ms-flex-align: center;
  -ms-flex-pack: center;

  .text {
    margin: 0.5rem 1rem;
    color: #fff;
    > a {
      font-size: inherit;
    }
  }

  .compliance {
    padding: 0.625em 3.125em;
    color: #fff;
    cursor: pointer;
    background: transparent linear-gradient(90deg, #ff003c 0%, #82003c 100%) 0%
      0% no-repeat padding-box;
    border: 0;
    border-radius: 4px;
    &:hover {
      background: transparent linear-gradient(90deg, #ff003c 0%, #82003c 100%)
        0% 0% no-repeat padding-box;
    }
  }
}
</style>
