<template>
  <div class="description-wrapper">
   
    <div class="content-wrapper">
      <div class="item-wrapper">
      <div class="item ">
         <img src="~@/assets/img/title-story.png" alt="">
        <p>
          Knights, assassins, sorcerers, and beastmasters have come 
          together to clash in the arena. Among them are the Legends – 
          the most experienced, skilled, and powerful warriors the 
          world has ever seen. And they will help you lead your 
          team of Champions in battles of epic proportions!
        </p>
      </div>
      </div>   <!-- flex end -->
    </div> <!-- content wrapper end -->
  </div>  <!-- wrapper end -->
</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
.description-wrapper {
  position: relative;
  background-image: url('~@/assets/img/bg-story.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color:#4B4458;
  padding: 0 5%;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    left: 0;
    z-index: 2;
    content: '';
    background: linear-gradient(359.54deg, rgba(21, 21, 21, 0) 0.46%, rgba(21, 21, 21, 0.783957) 55.44%, #151515 79.3%);
    opacity: 1;
  }
  &::before {
    position: absolute;
    top: 73%;
    right: 0;
    bottom: -1px;
    left: 0;
    z-index: 2;
    content: '';
    background: linear-gradient(360deg, #2C1A24 0%, rgba(44, 26, 36, 0.16) 53.63%, rgba(44, 26, 36, 0) 81.25%);
    opacity: 1;
  }
  
 
   
    .item-wrapper {
      position: relative;
      padding: 240px 0 70px;
      // @media screen and (min-width: 768px) {
      //   padding: 140px 0 140px;
      // }
    }
    .item {
      z-index: 2;
      position: relative;
      display: block;
      width: auto;
      margin: 0 auto;
      img {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
        max-width: 460px;
      }
     p {
      font-family: 'NotoRegular';
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      position: relative;
      display: block;
      margin: auto;
      @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 33px;
        max-width: 460px;
      }
    }
    }
}
</style>


