<template>
  <div class="faq-wrapper">
    <div class="news-wrapper">
      <h1 style="color:white;">News</h1>

      <div>
        <p style="color:white;">{{ this.$static}}</p>
        <p style="color:white;" v-html="this.$static.allPrivacy.edges[0].node.content"></p>
      </div>
    </div>
    <div class="content-container">
      <img class="title" src="~@/assets/img/title-faq.png" alt="">
      <Faqitem v-for="item in faqitems" :key="item.q" :item="item"/>
    </div>
  </div>
</template>

<static-query>
query {
  allPrivacy {
    edges {
      node {
       post_size
       tag
       category
       date
       main_image
       news_content
       content
      }
    }
  }
}
</static-query>

<script>

import Faqitem from "~/components/partials/Faq-item.vue";

export default {
  components: {
    Faqitem
  },
  data(){
    return {
      faqitems: [
        {q: 'What kind of game is Mythic Legends? / What is Mythic Legends?',
        a: 'Welcome to the arena! Build an army of Champions and rise to the challenge of the arena in this brand new, immersive role-playing fantasy game. With unique mechanics that let you leave and return to your epic battles whenever you want, you can unlock legendary power and craft the ultimate strategy on your path to victory. Wield the strengths and skills of beastmasters, sorcerers, knights, and more, sharpen your tactics, and choose your moves wisely. The battle is yours to win.' },
        {q: 'Who publishes Mythic Legends? ',
        a: 'The game is published by mobile game publishing house, Hyper Dot Studios, which is fully owned by game developer and industry leader, Outfit7. Together, we’re going to take gaming in bold new directions.' },
        {q: 'When will Mythic Legends be released worldwide?',
        a: 'The ultimate battle begins soon… In the meantime, subscribe to stay up-to-date with the latest news and you’ll be one of the first in the arena! You can also join our community of Legends on social and watch the latest trailers on YouTube.' },
        {q: 'Where is Mythic Legends currently available?',
        a: 'Mythic Legends is currently available to play in the following countries: Canada*, UK, Australia, New Zealand, Netherlands, Norway, Sweden, Thailand, and the Philippines.' },
        {q: 'What platforms will Mythic Legends be on? / Which platforms are supported by Mythic Legends?',
        a: 'Mythic Legends will be available to download and play on iOS and Android. ' },
        {q: 'How do you play Mythic Legends?',
        a:'You can find all the information here: https://mythiclegends.fandom.com/f'},
        {q: 'Where can I get more information about the game?',
        a: 'Join our community of Legends! We share battle strategies, synergy tips, and more on our YouTube and social platforms. And the community does too! You can also subscribe to our mailing list.' },
        {q: 'I need help [other]',
        a: 'You can find more information here ---> link to CS part? OR Didn’t see the answer to your question here? Check out our website: [LINK]' },
        {q: 'I’m a journalist and I want all the info on the game?',
        a: 'For more information on Mythic Legends, head over to the PR page on our website.' },
        {q: 'How do I unsubscribe ?',
        a: 'You can unsubscribe from our messages at any time by selecting the "unsubscribe" link at the end of our marketing emails. Alternatively, you can also send us an email via privacy@outfit7.com.' },
      ]
    }
  } 
}
</script>

<style lang="scss" scoped>
.faq-wrapper {
  background-color: #2C1A24;
  .content-container {
    background-color: #2C1A24;
    position: relative;
    display: block;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    // account for title margins 
    padding-bottom: 40px;
    @media screen and (min-width: 768px) {
      // on the bottom account for title margins 
      padding: 0 2%;
      padding-bottom: 40px;
    }
    .title {
      max-width: 100px;
      position: relative; 
      display: block;
      margin: 0 auto 40px;
      @media screen and (min-width: 768px) {
        max-width: 200px; 
      }
    }
  }
}
</style>


