<template>
  <div class="featured-wrapper">
    <img src="~@/assets/img/title-challenge.png" alt="">
     
    <!-- component wrapper -->
    <div class="component-switcher-wrapper">
      <div class="background-shadow"></div>
      <transition name="component-fade" mode="out-in">
        <component v-bind:is="component" />
      </transition>
    </div>
    <!-- component switcher -->
    <div class="background-wrapper">
      <div class="feature-navigation d-flex flex-row">
        <!-- loop items apply class active when component is active -->
        <div v-for="item in items" :key="item" :class="['navigation-item', {active:item == component}]" @click="toggle(item)"><p>{{ item }}</p></div>
      </div>
    </div>
  </div>
</template>

<script>
import battles from '~/components/partials/featured-toggler/battles.vue'
import legends from '~/components/partials/featured-toggler/legends.vue'
import champions from '~/components/partials/featured-toggler/champions.vue'
import artifacts from '~/components/partials/featured-toggler/artifacts.vue'
import leagues from '~/components/partials/featured-toggler/leagues.vue'

export default {
  components: {
    battles,
    legends,
    champions,
    artifacts,
    leagues
  },
  data (){
    return {
      component: "battles",
      items: ['battles', 'legends', 'champions', 'artifacts', 'leagues'],
    }
  },
  methods: {
    toggle(component){
      this.component = component
    }
  }
}
</script>


<style lang="scss" scoped>
  .featured-wrapper {
    background-color: rgba(21, 21, 21, 1);
    padding-top: 100px;
    position: relative;
    img {
    position: absolute;
    z-index: 9;
    width: 90%;
    max-width: 500px;
    top: 0;
    left:0;
    right: 0;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      left: 10%;
      right: unset;
    }
  }

  
    .component-switcher-wrapper {
      margin-top: -100px;
      position: relative;
      .background-shadow {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(39.58% 125.27% at 50% 75.14%, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0.11) 35.79%, rgba(21, 21, 21, 0.72) 74.86%, rgba(21, 21, 21, 0.94) 100%);
        z-index: 1;
      }
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        height: 200px;
        left: 0;
        z-index: 2;
        content: '';
        background: linear-gradient(359.54deg, rgba(21, 21, 21, 0) 0.46%, rgba(21, 21, 21, 0.783957) 55.44%, #151515 79.3%);
        opacity: 1;
      }
    }
  }
  .background-wrapper {
    background-color: #151515;
    border-top: 2px solid #FFECD2;
  }
  .feature-navigation {
    width: 100%;
    position: relative;
    margin: 0 auto;
    // spread navigation 
    @media screen and (min-width: 980px) {
      width: 90%;
      max-width: 1400px;
    }
    .navigation-item {
      background: linear-gradient(0deg, #6A5F7E 0%, #4B4458 99.82%);
      border-left: 2px solid #4B4458;
      border-right: 2px solid #4B4458;
      flex-basis: 0;
      flex-grow: 1;
      cursor: pointer;
      &:first-of-type {
        border-left: 0px
      }
      &:last-of-type {
        border-right: 0px
      }
      p {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Champion';
        font-size: 3vw;
        line-height: 37px;
        color:#D5B99D;
        margin-bottom: 0px;
        padding: 2%;
        @media screen and (min-width: 920px) {
          font-size: 30px;
          padding: 20px;
        }
      }
      &:hover {
        background: linear-gradient(180deg, #FFECD2 0%, #D5B99D 100%);
        p {
          color:#4E3657;
        }
      }
      // apply active class when clicked on
      &.active {
        background: linear-gradient(180deg, #FFECD2 0%, #D5B99D 100%);
        p {
          color:#4E3657;
        }
      }
    }
  }

  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
  }
  .component-fade-enter, .component-fade-leave-to {
    opacity: 0;
  }

</style>
