<template>
  <div class="footer-container">
    
    <div class="footer-nav-bar">
      <!-- <a target="_blank" href="support.swampattack.com">Support</a> -->
      <a target="_blank" href="https://hyperdotstudios.com/privacy">Privacy</a>
      <a target="_blank" href="https://hyperdotstudios.com/terms">Terms of use</a>
      <a target="_blank" href="https://hyperdotstudios.com/legal">Legal</a>
    </div>
    <div class="legal-line">
      <a target="_blank" href="https://hyperdotstudios.com/"><img src="~@/assets/img/svg/HDS_Logo_Bottom.svg" alt=""></a>
      <p>Published by Hyper Dot Studios Limited. &copy; 2013-2020 Outfit7 Limited. All rights reserved.</p>
    </div>
  </div>
</template>


<style lang="scss" scoped>
.footer-container {
  height: 100%;
  background-color: #2C1A24;
  // 1px paddins so we dont get gap between elements
  padding: 1px 0;
 
  .footer-nav-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0 40px;
    @media screen and (min-width: 768px) {
      margin: 50px 0 40px;
    }
    a {
      color: #f1f1f1;
      text-decoration: none;
      margin: 0 1rem;
      font-family: 'Champion';
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #D5B99D;
      @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 34px;
      }
    }
  }
  .legal-line {
    img {
      position: relative;
      display: block;
      margin: 0 auto 20px;
      opacity: 0.3;
    }
    p {
      text-align: center;
      color: #f1f1f1;
      font-family: 'NotoRegular';
      text-decoration: none;
      font-size: 0.7rem;
      margin-bottom: 0px;
      padding: 0 20px 20px;
      opacity: 0.3;
      
    }
  }

}
</style>
