<template>
<div class="hero-wrapper-video">
  <video autoplay muted loop playsinline disablePictureInPicture="true" preload="auto" id="myVideo" poster="">
    <source src="https://cdn-o7.outfit7.com/wp-content/uploads/2020/12/MYL_V42_UA_Landscape_18s_EN_MP4.mp4" type="video/mp4">
    <source src="https://cdn-o7.outfit7.com/wp-content/uploads/2020/11/SA2_Sewer_Anim_Desktop.webm" type="video/webm">
  </video>

   <img
      class="bannerLogo"
      src="~@/assets/img/svg/slogan.svg"
      alt="swamp attack logo"
    />

    <h1>Enter the arena</h1>

    <div
        class="storeWrapper d-flex flex-column flex-md-row align-items-center justify-content-center"
      >
      <a
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.hyperdotstudios.swampattack2"
        @click="gaEvent('click', 'store | gplay', 'swamp attack')"
      >
        <img
          class="store"
          src="~@/assets/img/svg/gplay.svg"
          alt="google play"
        />
      </a>
      <a
        target="_blank"
        href="https://apps.apple.com/se/app/id1531686083"
        @click="gaEvent('click', 'store | istore', 'swamp attack')"
      >
        <img
          class="store"
          src="~@/assets/img/svg/appstore.svg"
          alt="app store"
        />
      </a>
    </div>

    <h3>Available now in limited countries. Global launch coming soon.</h3>

    <img class="transition-1" src="~@/assets/img/transition-1.png" alt="">

</div>
</template>

<style lang="scss" scoped>
.hero-wrapper-video {
  position: relative;
  height: 100vh;
  /* pull the container up to account for header */
  margin-top: -80px;
  @media screen and (min-width: 550px) {
    height: 98vh;
    margin-top: -100px;
  }
   /* https://stackoverflow.com/questions/47591528/how-to-handle-full-screen-responsive-background-video */
  #myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (min-width: 550px) {
      height: 98vh;
    }
  }

  .transition-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .bannerLogo {
    display: block;
    width: 90vw;
    max-width: 320px;
    position: absolute;
    padding-top: 28vh;
    left: 0;
    right: 0;
    margin: auto;
    @media screen and (min-width: 540px) {
      width: 60vw;
    }
    // fix for landscaope
    @media screen and (min-width: 540px) and (max-width: 740px) {
      max-width: 200px;
    }
    @media screen and (min-width: 768px) {
      max-width: 600px;
    }
    // @media screen and (min-width: 1200px) {
    //   max-width: 360px;
    // }

    // @media screen and (min-width: 1400px) {
    //   max-width: 600px;
    // }
  }

  h1 {
    position: relative;
    padding-top: 48vh;
    text-align: center;
    text-transform: uppercase;
    color: #2C1A24;
    font-family: 'Champion';
    font-size: 28px;
    line-height: 34px;
    // fix for banner sizes
    @media screen and (min-width: 540px) and (max-width: 740px) {
      padding-top: 38vh;
    }
    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 48px;
       padding-top: 56vh;
    }
    @media screen and (min-width: 920px) {
      padding-top: 60vh;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 60vh;
    }
    @media screen and (min-width: 1400px) {
      padding-top: 58vh;
    }
    }

    .storeWrapper {
      position: relative;
      margin-top: 40px;
      @media screen and (min-width: 768px) {
        margin-top: 80px;
      }
      .store {
        position: relative;
        display: block;
        height: 46px;
        margin: 10px;

        @media screen and (min-width: 768px) {
          width: initial;
          height: 50px;
        }

        @media screen and (min-width: 1300px) {
          height: 66px;
        }
      }
    }

    h3 {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      font-family: 'NotoBold';
      font-size: 14px;
    }
}


</style>
