<template>
    <nav
    position="fixed"
    :class="[(isMenuOpen ? 'active' : ''),
      'navbar header navbar-dark fixed-top navbar-expand-md navigation'
    ]"
    >
    <div class="logo-container">
      <a class="navbar-brand" href="https://hyperdotstudios.com/">
        <img src="~@/assets/img/svg/hds-logo.svg" alt="hds dot" />
      </a>
    </div>

    <!-- mobile mythic logo -->
    <router-link class="navbar-brand mythic-logo" to="/" tag="a">
      <img src="~@/assets/img/Logo.png" alt="mythic legends logo" />
    </router-link>
   

    <button
      type="button"
      aria-label="Toggle navigation"
      aria-controls="nav-collapse"
      aria-expanded="false"
      :class="['navbar-toggler togglebtn']"
      @click="toggleMenu"
      ><img src="~@/assets/img/svg/menu-icon-mobile.svg" alt="mythic legends logo" /></button>

    <div
      id="nav-collapse"
      :class="[
        'navbar-collapse',
        'collapse navbar justify-content-center',
        isMenuOpen ? 'show' : '',
      ]"
      >
      <ul class="navbar-nav ml-md-auto">
        <!-- news -->
        <!-- <li @click="toggleMenu"><router-link to="/" class="menu-item">News</router-link></li> -->
        <li @click="toggleMenu"><a target="_blank" href="https://support.mythic-legends.com/" class="menu-item">Support</a></li>
        <!-- <li @click="toggleMenu"><router-link to="/" class="menu-item">Linkz</router-link></li> -->
      </ul
    ></div>
  </nav>
</template>

<script>
export default {
  data(){
    return {
      isMenuOpen: false,
    }
  },
  methods: {
    toggleMenu() {
      console.log('toggled')
      this.isMenuOpen = !this.isMenuOpen
    },
  },
}
</script>

<style lang="scss">

.navigation {
  background-image: url('~@/assets/img/Slice-1.png'), url('~@/assets/img/Slice-2.png'), url('~@/assets/img/Slice-1.png');
  background-repeat: no-repeat, no-repeat no-repeat;
  background-size: 60% 66px, 108% 119%, 10% 10%;
  background-position: left top, right -4px, right top; 
 
  @media screen and (min-width: 768px) {
    background-size: 60% 66px, 40% 112%, 10% 10%;
    height: 80px;
  }
  &.active {
    background: #000000;
  }
  // hyper dot
  a { 
    padding: 0px;
    margin: 0 0 0 10px;
    @media screen and (min-width: 768px) {
      margin: -10px 0 5px 10px;
    }
  }
  
  // mythic logo styling
  .mythic-logo {
    @media screen and (min-width: 768px) {
      margin: -10px 0 5px 34px;
    }
    img {
      height: 52px;
    }
  }

  // remove deafult outline stylings
  .togglebtn {
    outline: none !important;
    box-shadow: none;
    border: none;
  }

  // nav bar styles
  .navbar {
    .nav-collapse {
      background-color: #151515;
    }
    ul {
      list-style-type: none;
      > li {
        text-align: center;
        display: inline-block;
        padding: 0px;
        line-height: 0px;
        margin: 10px 16px 10px;
       
        > a {
          font-family: 'Champion';
          text-transform: uppercase;
          font-size: 24px;
          line-height: 29px;
          background: -webkit-linear-gradient(#FFECD2, #D5B99D);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  
}
</style>



