<template>
  <div class="stores-wrapper">
      <!-- logo -->
      <!-- <h1>Play <span>free</span></h1> -->
      <img
        class="bannerLogo"
        src="~@/assets/img/title-battle-stores.png"
        alt="swamp attack logo"
      />

      <!-- stores -->
      <div
        class="storeWrapper d-flex flex-row align-items-center justify-content-center"
      >
        <!-- G -->
        <a
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.hyperdotstudios.swampattack2"
          @click="gaEvent('click', 'store | gplay', 'swamp attack')"
        >
          <img
            class="store"
            src="~@/assets/img/svg/gplay.svg"
            alt="google play"
          />
        </a>
        <!-- I -->
        <a
          target="_blank"
          href="https://apps.apple.com/se/app/id1531686083"
          @click="gaEvent('click', 'store | istore', 'swamp attack')"
        >
          <img
            class="store"
            src="~@/assets/img/svg/appstore.svg"
            alt="app store"
          />
        </a>
      </div>

      <div class="social-nav-wrapper">
      <h3>The action continues beyond the arena.</h3>
      <h1>Join our community!</h1>
       <div class="social-nav-bar">
        <a target="_blank" href="https://www.instagram.com/swampattackofficial/"><img src="~@/assets/img/svg/instagram.svg" alt=""></a>
        <a target="_blank" href="https://www.facebook.com/SwampAttackOfficial"><img src="~@/assets/img/svg/fb.svg" alt=""></a>
        <a target="_blank" href="https://vk.com/public200968144"><img src="~@/assets/img/svg/twitter.svg" alt=""></a>
        <a target="_blank" href="https://twitter.com/SwampAttack_"><img src="~@/assets/img/svg/discord.svg" alt=""></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCLec2pqCEZZDyBXP8ppLJdA"><img src="~@/assets/img/svg/reddit.svg" alt=""></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCLec2pqCEZZDyBXP8ppLJdA"><img src="~@/assets/img/svg/youtube.svg" alt=""></a>
        <a target="_blank" href=""><img src="~@/assets/img/svg/social-item.svg" alt=""></a>
       </div>
    </div>
    </div>
</template>


<style lang="scss" scoped>

.stores-wrapper {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-top: 0;
  background-image: url('~@/assets/img/bg-hero.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  @media screen and (min-width: 768px){
    // height: calc(100vh - 100px);
    height: 83vh;
  }
  &::before {
    position: absolute;
    top: 72%;
    right: 0;
    bottom: -1px;
    left: 0;
    z-index: 2;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(17, 10, 14, 0.65) 43.89%, #2C1A24 97.88%);
    opacity: 1;
  }
  &::after {
    position: absolute;
        top: -1px;
    right: 0;
    height: 72%;
    left: 0;
    z-index: 2;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(17, 10, 14, 0.38399) 42.17%, #2C1A24 97.88%);
    transform: rotate(-180deg);
    opacity: 1;
  }
  
  img.bannerLogo {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 30vh;
    width: 90vw;
    max-width: 500px;
    z-index: 3;
    @media screen and (min-width: 768px) {
     padding-top: 20vh;
    }
  }
  .storeWrapper {
    margin-top: 20px;
    @media screen and (min-width: 768px) {
      
    }
      .store {
        position: relative;
        display: block;
        height: 41px;
        margin: 10px;

        @media screen and (min-width: 360px) {
          margin: 20px;
        }
        @media screen and (min-width: 450px) {
           height: 46px;
        }

        @media screen and (min-width: 768px) {
          width: initial;
          height: 50px;
        }

        @media screen and (min-width: 1300px) {
          height: 66px;
        }
      }
    }

    .social-nav-wrapper {
      position: relative;
      z-index: 9;
      margin-top: 50px;
      @media screen and (min-width: 992px) {
       margin-top: 90px;
      }
      h3 {
        text-align: center;
        color: #FFFFFF;
        font-family: 'NotoBold';
        font-size: 16px;
        line-height: 22px;
        text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
        @media screen and (min-width: 768px){
          font-size: 28px;
        line-height: 38px;
        }
      }
      h1 {
        text-align: center;
        font-family: 'Champion';
        font-size: 32px;
        line-height: 38px;
        padding: 0 5%;
        text-transform: uppercase;
        color: #D5B99D;
        @media screen and (min-width: 768px) {
          font-size: 54px;
          line-height: 65px;
        }
      }
      .social-nav-bar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0 20px;
        @media screen and (min-width: 768px) {
          padding: 10px 0 20px;
        }
        img {
          margin: 0 0.5rem;
          width: 34px;
          @media screen and (min-width: 768px) {
            margin: 0 1rem;
            width: 50px;
          }
        }
      }
  }
}

</style>

