<template>
  <div @click="open" v-if="showPrompt" class="wrapper fixed-bottom d-flex">
    <div class="outline d-flex align-items-center justify-content-center">
      <!-- close prompt -->
      <!-- <img @click.stop="closePrompt" class="close-btn" src="~@/assets/img/svg/btn-close.svg" alt="close button" > -->
      <div class="primary d-flex justify-content-around justify-content-md-between align-items-center">
        <img class="champ" src="~@/assets/img/champ.png" alt="">
        <div class="secondary d-flex flex-column flex-md-row justify-content-between">
          <p>Want to be the first to play? Sign up!</p>
          <img class="subscribe" src="~@/assets/img/svg/btn-subscribe.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      showPrompt: true
    }
  },
  methods: {
    open(){
      console.log('activate modal')
      this.$emit('activateModal')
    },
    closePrompt(){
      this.showPrompt = false;
    }
  }
}
</script>

<style lang="scss" scoped>
  .wrapper {
    cursor: pointer;
    background: linear-gradient(0deg, #6A5F7E 0%, #4B4458 99.82%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    height: 100px;

    .outline {
      border: 2px solid #D5B99D;
      width: 100%;
      margin: 5px;
      .close-btn {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 16px;
        color: #D5B99D;
        cursor: pointer;
      }
    }
    .primary {
      width: 95%;
      
      img.champ {
        z-index: 9;
        position: relative;
        margin-bottom: -23px;
        margin-left: -8px;
        width: 136px;
        @media screen and (min-width: 768px) {
          width: unset;
          margin-bottom: 8px;
          margin-left: unset;
        }
      }
      .secondary {
        max-width: 132px;
        @media screen and (min-width: 360px) {
          max-width: 154px;
        }
        @media screen and (min-width: 550px) {
          max-width: unset;
        }
        @media screen and (min-width: 768px) {
          width: 62%;
        }
        p {
        font-family: 'NotoRegular';
        font-weight: bold;
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 0;
        color: #D5B99D;
        padding-left: 4px;
        @media screen and (min-width: 768px) {
          padding-left: unset;
          font-size: 20px;
          line-height: 27px;
        }
      }
      img.subscribe {
        z-index: 9;
        position: relative;
        min-width: 120px;
        width: 10%;
        max-width: 160px;
      }
      }
    }
  }
</style>

