<template>
  <!-- newsletter modal start-->
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-popup">
        <div class="modal-content">
          <div class="outline">
            <!-- <div class="close" @click="close">X</div> -->
            <img @click="close" class="close" src="~@/assets/img/svg/btn-close.svg" alt="close button" >
            <div class="content-wrapper">
            <!-- <h1>Let's keep in touch!</h1> -->
            <img class="title" src="~@/assets/img/svg/modal-title.svg" alt="let's keep in touch">
            <h3>Join our mailing list for updates.</h3>
            <!-- email  -->
            <div class="email">
              <input
                v-model="email"
                type="email"
                name="email"
                placeholder="E-mail"
                :class="[$v.email.$error ? 'error' : '']"
              />
              <div class="errorContainer">
                <label v-if="$v.email.$error" class="error"
                  >Email is required</label
                >
              </div>
            </div>
            <!-- email end-->

            <!-- privacy checkbox -->
            <div class="privacyConsent">
              <label
                :class="[
                  'subscribe-container',
                  $v.privacyConsent.$error ? 'labelerror' : '',
                ]"
                for="privacyConsent"
              > 
              <div class="custom-checkmark-wrapper">
                <input
                  id="privacyConsent"
                  v-model="$v.privacyConsent.$model"
                  name="privacyConsent"
                  type="checkbox"
                  aria-describedby="privacyConsent"
                  :class="[$v.privacyConsent.$error ? 'inputerror' : '']"
                />
                <span class="checkmark"></span>
              </div>
              </label>
              <p :class="[$v.privacyConsent.$error ? 'inputerror' : '']">Tick if you would like to recieve information about the game Mythic Legends.</p> 
            </div>
            <!-- privacy checkbox -->

             <!-- submit button -->
            <img class="submit" @click="handleSubmit" src="~@/assets/img/svg/btn-subscribe.svg" alt="">
            
            <!-- legal notice -->
            <p class="legal-notice">You can unsubscribe from any of our messages at any time. For more details about unsubscribing and how we use your personal information, please read our <a target="_blank" href="https://hyperdotstudios.com/privacy/en">Privacy Policy</a>.</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
// firebase db for subscritpions
import firebase from 'firebase/app'
import 'firebase/firestore'

// form validator
import Vuelidate from "vuelidate";
import { required, email } from "vuelidate/lib/validators";

// import cookie functions
import {storageAvailable, setCookie, getCookie} from '~/utils/cookies.js'

Vue.use(Vuelidate);
export default {
  data() {
    return {
      // validator models
      email: '',
      privacyConsent: false,
      userMessage: ''
    }
  },
   validations: {
    email: {
      required,
      email,
    },
    privacyConsent: {
      checked: (value) => value === true,
    },
  },
  methods: {
    close(){
      console.log('close modal')
      this.$emit('activateModal', false)
    },
    writeCookie() {
      // check for local storage
      if (storageAvailable("localStorage")) {
        localStorage.setItem('subscribed', true)
      } else {
        setCookie('subscribed', true, 30);
      }
    },
    handleSubmit(){
      // evaluate form status
      this.$v.$touch()
      if (this.$v.$invalid) {
        console.log('invalid')
        return
      }
      // update DB
      this.updateFirestore();
      // set cookie
      this.writeCookie()

    },
    updateFirestore() {
      // push data into firestore using the uid provided
      console.log(this.email, this.privacyConsent)
      firebase
        .firestore()
        .collection('mythiclegends_newsletter')
        .doc(this.email)
        .set({
          email: this.email,
          privacyConsent: this.privacyConsent,
        })
        .then(() => {
          
          this.$ga.event({
            eventCategory: 'Form',
            eventAction: 'Pre-registration',
            eventLabel: 'Completed',
          })
          
          console.log('Email submitted')
          this.email = ''
          this.privacyConsent = false
          // show message and toast
          // TODO: show toast!
          this.$emit('activateModal', true)
          
        })
        .catch((error) => {
          /* write failed. we explicitely revoked UPDATE on the database, so we will not receive 'already-exists
        error message, all returned error codes are 'permission-denied'. We will therefore assume the email was
        already registered as the cause of error.

        NOTE: this may not be 100% true in all cases!
        But... for purposes of increased security, this will have to suffice.
        */
          this.$ga.event({
            eventCategory: 'Form',
            eventAction: 'Pre-registration',
            eventLabel: 'Duplicate',
          })
          console.log(error.code)
          // show message and toast
          // TODO: show toast!
          this.$emit('activateModal', false)
          
        })
    },
  }
}
</script>

<style lang="scss" scoped>
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10013;
    outline: 0;
    background: rgba(0, 0, 0, 0.8);
    .modal-dialog {
      position: relative;
      width: auto;
      .modal-popup {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: auto;
        width: 100%;

        
        .modal-content {
          background: linear-gradient(0deg, #6A5F7E 0%, #4B4458 99.82%);
          border-radius: 2px;
          // email input styling
          .outline { 
            position: relative;
            border: 2px solid #D5B99D;
            margin: 4px;
            .close { 
              position: absolute;
              right: 10px;
              top: 10px;
              width: 16px;
              cursor: pointer;
            }
            .content-wrapper {
              max-width: 300px;
              margin: 20px;
              @media screen and (min-width: 360px) {
                max-width: 340px;
              }
              @media screen and (min-width: 768px) {
                margin: 40px;
              }
              img {
                // images positioning correction
                margin-left: -8px;
              }
              img.title {
                width: 100%;
                max-width: 340px;
              }
              h3 {
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                font-family: 'NotoRegular'
              }
            }
          }
          .email {
            margin-top: 26px;
            input {
              display: block;
              width: 100%;
              font-size: 1rem;
              line-height: 1.5;
              border-radius: 0rem;
              background-color: #D5B99D;
              background-clip: padding-box;
              border: 1px solid #D5B99D;
              font-family: 'NotoBold';
              padding: 10px 0px 10px 12px;
              box-sizing: border-box;
              box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
              @media screen and (min-width: 550px) {
                max-width: 315px;
              }
              &::placeholder {
                font-size: 1rem; 
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #ffffff;
                opacity: 1; /* Firefox */
              }

              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              font-size: 1rem; 
                color: #ffffff;
              }

              &::-ms-input-placeholder { /* Microsoft Edge */
              font-size: 1rem; 
                color: #ffffff;
              }      
              &.error {
                border: 1px solid #ff003c;
                animation-name: shakeError;
                animation-duration: 0.6s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forward;
              }
            }
            .errorContainer {
              label {
                color: #ff003c;
                font-size: 12px;
              }
            }
          }
         // custom checkbox for privacy
        .privacyConsent {
          display: flex;
          margin-top: 20px;
          margin-bottom: 20px;
          input[type='checkbox'] {
            // border: 1px solid #ced4da;
            width: 80px;
            height: 10px;
            margin-right: 10px;
          }
          label.subscribe-container {
            color: #ffffff;
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            line-height: 2.2;
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: 'NotoBold';
            /* On mouse-over, add a grey background color */
            &:hover input ~ .checkmark {
              background-color: #D5B99D;
            }
            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
              &:checked ~ .checkmark:after {
                display: block;
              }
            }
            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 22px;
              width: 22px;
              background-color: #D5B99D;
              border: 1px solid #D5B99D;
              box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
              
              /* Create the checkmark/indicator (hidden when not checked) */
              &:after {
                content: '';
                position: absolute;
                display: none;
                left: 6px;
                top: 2px;
                width: 6px;
                height: 12px;
                border: solid #1C3509;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
            }
            &.labelerror {
              color: #ff003c;
              animation-name: shakeError;
              animation-duration: 0.6s;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forward;
            }
            a {
              color:#C5E606;
            }
          }
          p {
            font-family: 'NotoRegular';
            font-weight: bold;
            color: #ffffff;
            margin: 0;
            font-size: 0.8rem;
            max-width: 300px;
           &.inputerror {
              color: #ff003c;
              animation-name: shakeError;
              animation-duration: 0.6s;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forward;
            }
          }
        }
        // submit button image
          img.submit {
            cursor: pointer;
            width: 150px;
          }
          .legal-notice {
            font-family: 'NotoRegular';
            font-size: 10px;
            color: #ffffff;
            margin-bottom: 0px;
            a {
              color: #D5B99D;
            }
          }
        }
      }
    }
  }

// input error animation
@keyframes shakeError {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.375rem);
  }
  30% {
    transform: translateX(-0.375rem);
  }
  45% {
    transform: translateX(0.375rem);
  }
  60% {
    transform: translateX(-0.375rem);
  }
  75% {
    transform: translateX(0.375rem);
  }
  90% {
    transform: translateX(-0.375rem);
  }
  100% {
    transform: translateX(0);
  }
}

</style>
