<template>
<div class="video-wrapper">
  <img class="section-title" src="~@/assets/img/title-action.png" alt="how to win section title">
  <img class="transition-3"  src="~@/assets/img/transition-3.png" alt="">
  <img class="transition-4"  src="~@/assets/img/transition-4.png" alt="">
  <div class="embed-video-wrapper">
    <!-- <img src="~@/assets/img/play-icon.png" alt="paly video icon" class="play-icon"> -->
    
     <iframe
        id="myVideo"
        class="background-video-embed"
        title="YouTube player"
        src="https://www.youtube.com/embed/4rYWLplF04s/?&amp;rel=0&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=JQdvzv-2518&amp;showinfo=0&amp;controls=0&amp;modestbranding=1"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
  </div>
</div>
</template>

<style lang="scss" scoped>
.video-wrapper {
  padding: 140px 0 100px;
  position: relative;
  background-color: #2C1A24;
  img.section-title {
    position: absolute;
    z-index: 9;
    width: 90%;
    max-width: 500px;
    top: 40px;
    left:0;
    right: 0;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      top: 10%;
      left: 10%;
      right: unset;
    }
  }
  .transition-3 {
    position: absolute;
    top: 26%;
    z-index: 8;
    width: 100%;
    @media screen and (min-width: 540px) {
      top:20%;
    }
    @media screen and (min-width: 768px) {
      top:8%;
    }
    @media screen and (min-width: 920px) {
      top:5%;
    }
    @media screen and (min-width: 1100px) {
      top:2%;
    }
     @media screen and (min-width: 1200px) {
      top:0%;
    }
  }
  .transition-4 {
    position: absolute;
    bottom: 20%;
    z-index: 8;
    width: 100%;
    @media screen and (min-width: 460px) {
      bottom: 15%;
    }
    @media screen and (min-width: 768px) {
      bottom:10%;
    }
    @media screen and (min-width: 1200px) {
      bottom:5%;
    }
  }
}
.embed-video-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding: 0;
  padding-bottom: 56.25%;
  // img.play-icon {
  //   position: absolute;
  //   z-index: 9;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  //   width: 20vw;
  //   max-width: 200px;
  // }
  
 
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
</style>
