<template>
  <div :class="[pageSlug, 'maincontainer']">
    <!-- navigation with props -->
    <Navigation :pagePath="pagePath"></Navigation>

    <!-- page is inserted here -->
    <div class="page">
      <slot />
    </div>

    <!-- cookie notice -->
    <CookieNotice />

    <!-- subscribe prompt & modal -->
    <!-- modal -->
    <!-- <template v-if="openModal">
      <SubscribeModal @activateModal="toggleModal"/>
    </template> -->
    <!-- prompt -->
    <!-- <template v-if="promptSubscribe">
      <SubscribePrompt @activateModal="toggleModal" />
    </template> -->
    <!-- end subscribe prompt & modal -->

    <!-- footer with props -->
    <Footer :pagePath="pagePath" :pageSlug="pageSlug" />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import Navigation from "~/components/Navigation.vue";
import CookieNotice from "~/components/Cookie-Notice.vue";
import Footer from "~/components/Footer.vue";
import SubscribeModal from "~/components/SubscribeModal.vue";
import SubscribePrompt from "~/components/SubscribePrompt.vue";

// import cookie functions
import {storageAvailable, setCookie, getCookie} from '~/utils/cookies.js'

export default {
  data() {
    return {
      pagePath: "/",
      promptSubscribe: false,
      openModal: false
    };
  },
  components: {
    Navigation,
    Footer,
    CookieNotice,
    SubscribeModal,
    SubscribePrompt
  },
   mounted() {
    this.pagePath = this.$route.path;
    this.checkSubscription();
  },
  computed: {
    pageSlug() {
      return (
        "mythic" +
        (this.pagePath.length > 1 ? this.pagePath.replace(/\//g, "-") : "-home")
      );
    },
  },
  methods: {
    isPage(page) {
      return this.pagePath.includes("/" + page + "/");
    },
    checkSubscription(){
      // check if user subscribed
      if (storageAvailable("localStorage")) {
          console.log("storage sub");
          // if no item in storage, show cookie
          if (!localStorage.getItem('subscribed')) {
            this.promptSubscribe = true
          }
        } else {
          // if local storage not available, check if cookie exists
          console.log('cookie')
          let cookieName = 'subscribed';
          let detourCookie = getCookie(cookieName);
          // if no cookie 
          if(!detourCookie){
            // this.showCookieNotice = true
          }
        }
    },
    toggleModal(value){
      // we get value true only when subscribe happens...
      // in this case we clsoe prompt and modal
      if(value){
        this.promptSubscribe = false
        this.openModal = false
      } else {
        this.promptSubscribe = !this.promptSubscribe
        this.openModal = !this.openModal
      }
    }
  },
}
</script>


<style lang="scss">

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

.page {
  // to get the header overlay
  margin-top: 48px;
  overflow: hidden;
}


</style>
