<template>
  <div class="item-wrapper">
    <img class="img-lg" src="~@/assets/img/items/Variant2.png" alt="battle arena">
    <img class="img-sm" src="~@/assets/img/items/Variant2-sm.png" alt="battle arena">
  </div>
</template>
<style lang="scss" scoped>
.item-wrapper {
  img.img-sm {
    display: block;
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      display:none;
    }
  }
  img.img-lg {
    display:none;
     @media screen and (min-width: 768px) {
      display:block;
      max-width: 100%;
      height:auto;
      max-height: 680px;
      position: relative;
      display: block;
      margin: 0 auto;
    }
  }
}
</style>



